<section id="links" class="overflow-y-auto shadow-xl rounded-lg">
  <ul
    class="bg-white flex flex-col p-4 gap-2"
    <%= links.empty? ? 'hidden' : '' %>
  >
    <% links.each do |link| %>
      <li>
        <div class="flex items-center space-x-4 bg-gray-50 p-4 g">
          <input
            type="text"
            value="<%= link.url %>"
            readonly
            class="flex-1 bg-transparent outline-none text-gray-800"
          />
          <button
            class="p-2 hover:bg-gray-200 rounded-lg transition-colors duration-200"
            title="Copy to clipboard"
          >
            📋
          </button>
          <a
            href="<%= link.url %>"
            target="_blank"
            rel="noopener noreferrer"
            class="p-2 hover:bg-gray-200 rounded-lg transition-colors duration-200"
            title="Open link"
          >
            🔗
          </a>
          <form
            hx-delete="/links/<%= link.id %>"
            hx-target="#links"
            hx-swap="outerHTML"
          >
            <button
              class="p-2 hover:bg-gray-200 rounded-lg transition-colors duration-200"
              title="Delete link"
            >
              🗑️
            </button>
          </form>
        </div>
      </li>
    <% end %>
  </ul>
</section>
